<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APPEARANCE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>imageSize</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Small</string>
				<string>Medium</string>
				<string>Large</string>
			</array>
		</dict>
		<dict>
		    <key>cell</key>
   			<string>PSLinkCell</string>
    		<key>cellClass</key>
   			<string>GcImagePickerCell</string>
    		<key>label</key>
    		<string>Select Image</string>
    		<key>defaults</key>
    		<string>com.pkgfiles.respringprefs</string>
    		<key>key</key>
    		<string>respringImage</string>
    		<key>usesPhotos</key>
    		<true/>
    		<key>usesVideos</key>
    		<false/>
    		<key>videoQuality</key>
    		<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>trash.png</string>
			<key>label</key>
			<string>Remove Image</string>
			<key>action</key>
			<string>removeUserImage</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>POSITION</string>
			<key>footerText</key>
			<string>📍: Change the position on the X/Y Anchor if the Icon don't match with your setup correctly.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>leftImage</key>
			<string>xPos.png</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>xPosition</string>
			<key>min</key>
			<real>-25</real>
			<key>max</key>
			<real>25</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>leftImage</key>
			<string>yPos.png</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>yPosition</string>
			<key>min</key>
			<real>-25</real>
			<key>max</key>
			<real>25</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>delete.png</string>
			<key>label</key>
			<string>Reset Position</string>
			<key>action</key>
			<string>removePosition</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>EXTRAS</string>
			<key>footerText</key>
			<string>⚠️: Zeppelin Mode replaces the StatusBar time with your choosen image or the default, integrated one.
(Notched Devices only)</string>
			<key>footerAlignment</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>isEnabledZeppelinMode</string>
			<key>label</key>
			<string>Enable Zeppelin Mode</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>isEnabledLockscreen</string>
			<key>label</key>
			<string>Show on Lockscreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>isAlertMessageEnabled</string>
			<key>label</key>
			<string>Show Alert Message</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>defaults</key>
			<string>com.pkgfiles.respringprefs</string>
			<key>key</key>
			<string>customAlertMessage</string>
			<key>placeholder</key>
			<string>Custom Alert Message...</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Source Code ❤️</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>GitHub</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
	</array>
	<key>title</key>
	<string>ReSpring</string>
</dict>
</plist>
